<h1>Inserted Account Privilege</h1>
<style>
table {
  width:40%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
h1 {
 font-size:50px;
 color:red;
 text-align:center;
}
</style>
<br>
<center>
<table id="t01">
     <th>Account Privilege #</th><th>Operation Name</th>
    {% for q4 in userDetails %}
    <tr>
        <td> {{q4[0]}} </td>
        <td> {{q4[1]}} </td>
    </tr>
    {% endfor %}
</table>
</center>